<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.camera.moments">

    <application>
        <activity
            android:name="com.camera.moments.view.activity.MomentsMainActivity" />



        <meta-data
            android:name="com.camera.moments.momentConfig"
            android:value="ConfigModule"/>
    </application>

</manifest>