<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.camera.shopping_mall">

    <application>
        <activity android:name="com.camera.shopping_mall.view.activity.GoodsListActivity" />
        <activity android:name="com.camera.shopping_mall.view.activity.GoodsDetailActivity" />
    </application>

</manifest>